.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container{
  margin-left:50px;
  margin-top:50px;
}

.patientContainer{
  margin-left:50px !important;
  margin-top:50px !important;
}

.table{
  width:50% !important;
}

#github{
  float:right;
}

#dateProgrammer{
    text-align:right;
    font-weight: bolder;
}

#dateJuniorProgrammer{
    text-align:right;
    font-weight: bolder;
}

#jobTitles{
    font-weight: bolder;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
